.main-header {
    height: 57px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 140px;
    background: #fafafa;
    position: absolute;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header h1 {
    font-size: 24px;
}

#user-cart {
    display: flex;
}